<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <style type="text/css">
      body { font-family: "Montserrat", sans-serif; }
    </style>
    <title>Email</title>
  </head>
  <body>
    <div>
      <h2>Código de recuperação</h2>
      <p>Olá! Seu código para recuperação de senha é:</p>
      <p><strong>{{token}}</strong></p>
    </div>
    <p>
      Desconsidere esse e-mail caso seja um engano.
    </p>
  </body>
</html>
